#logo {
    width: 300px;
    height: 150px;
}

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#content div {
    max-width: 250px;
    max-height: 500px;
    margin: 10px;
    cursor: pointer;
}

#content div img {
    max-width: 100%;
    max-height: 100%;
}

/*
.article {
    overflow: hidden;
}
*/

.img-home {
    width: 400px;
    height: 500px;
}

.envoltorio-portada:hover {
    border: 2px solid black;
    cursor: pointer;
}

.titulo {
    display: block;
    font-size: 1rem;
    white-space: normal;
}

#display-more {
    width: 100%;
    background-color: white;
    margin-bottom: 2rem;
    border-radius: 4px;
    border: 1px solid #E23636;
    padding: 10px;;
}

#display-more:hover {
    background-color: #E23636;
    color: white;
}

.hide {
    display: none;
}