/*img {
    width: 190px;
    height: 220px;
    margin-bottom: 10px;
    margin-bottom: 10px;
}*/

#show div {
    max-width: 250px;
    max-height: 500px;
    margin: 10px;
    cursor: pointer;
}

#show div img {
    max-width: 100%;
    max-height: 100%;
}

.article {
    overflow: hidden;
}

#eventos {
    text-align: center;
    height: 70%;
    width: 50%;
    margin: auto;
}

#eventos > h2 {
    color: darkred;
}

#show {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#logo {
    width: 300px;
    height: 150px;
    margin-left: 0px;
}

.img-home {
    width: 400px;
    height: 500px;
}

.envoltorio-portada:hover {
    border: 2px solid black;
    cursor: pointer;
}

.titulo {
    display: block;
    font-size: 1rem;
    white-space: normal;
}
